@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSansTags";
}


    <!-- Hero -->
    <header class="bg-light py-5">
        <div class="container px-5">
            <div class="row align-items-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5">
                        <h2 class="text-center fw-bold mb-2">Hi! I am Garry,</h2>
                        <h2 class="text-primary text-center fw-bold mb-2">a full-stack developer employing Microsoft technologies</h2>
                        <p class="lead text-muted mb-4">
                            I specialize in building business solutions with .NET Framework, ASP.NET Core MVC and MS SQL Server.
                            Scroll down to see what I have been working on.
                        </p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-center">
                            <a class="btn btn-primary btn-large text-uppercase" href="#about">
                                Learn More
                                <span class="material-symbols-outlined ms-2">
                                    help_center
                                </span>
                            </a>
                            <a class="btn btn-outline-primary btn-large text-uppercase" href="#projects">
                                View My Work
                                <span class="material-symbols-outlined ms-2">
                                    feature_search
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 justify-content-center">
                    <img class="img-fluid rounded-3 my-5" src="images/retrieverheadshot.jfif" alt="Hero Image">
                </div>
            </div>
        </div>
    </header>
    <!-- End Hero -->

    <main>
        <!-- About -->
        <section id="about" class="py-3">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <h2 class="fw-bold">About</h2>
                    <p class="lead text-muted mb-5">
                        I am a software developer who builds elegant, fast, and
                        scalable business applications.
                    </p>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="d-flex mb-5 about">
                            <span class="material-symbols-outlined m-auto text-primary">palette</span>
                        </div>
                        <h5>Design</h5>
                        <p class="text-muted mb-0">
                            I work with all categories of stakeholders to identify challenges and needs, and to
                            offer the most cost-effective, reliable solutions.
                        </p>
                    </div>
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="d-flex mb-5 about">
                            <span class="material-symbols-outlined m-auto text-primary">code</span>
                        </div>
                        <h5>Development</h5>
                        <p class="text-muted mb-0">
                            I develop responsive applications that are fast and scalable. I have employed developer/unit testing
                            as well as collaborated with QA teams and business for behavioral-driven development. I have worked on
                            agile teams, applying the best standards and coding practices.
                        </p>
                    </div>
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="d-flex mb-5 about">
                            <span class="material-symbols-outlined m-auto text-primary">admin_panel_settings</span>
                        </div>
                        <h5>Launch & Maintenance</h5>
                        <p class="text-muted mb-0">
                            I have deployed many applications both as an individual contributor and as part
                            of larger group efforts. My documentation is thorough, and I am happy to provide
                            additional information whenever needed. I like working with customers and co-workers within my own group 
                            as well as those outside the work group / company.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    @* <div class="col-6">
                        <h3 class="mb-3">Work Experience</h3>

                        <h4>Think Systems, Inc.</h4>
                        <div><strong>2021-2023</strong></div>
                        <h5>Senior Software Engineer II</h5>
                        <ul class="mb-3">
                            <li>
                                Contractor for CMS - C#, ASP.NET, Power Apps, Power Automate, Power BI, MS-SQL Server, SharePoint online/on-premises data sources, web parts, user controls.
                            </li>
                            <li>
                                Supported the back-office application in C#, SharePoint(on-premises), SQL Server.
                            </li>
                            <li>
                                Developed and supported new applications for SQL Server and SharePoint Online using Power Apps and Power Automate flows.
                            </li>
                            <li>
                                Architect/principal developer for reproducing legacy tool reports in Power BI, data modeling, Power Query, DAX, data flows.
                            </li>
                        </ul>


                        <h4>Retriever Merchant Solutions, a Payroc Company</h4>
                        <div><strong>2016-2021</strong></div>
                        <h5>Senior Software Engineer II</h5>
                        <ul class ="mb-3">
                            <li>Developed business web applications using C#, ASP.NET Core, ASP.NET MVC, MS-SQL Server, DocuSign, Crystal Reports, SSRS, VB.Net, ASP.NET webforms, Entity Framework, JavaScript/jQuery, and Web API.</li>
                            <li>Architected and developed a modern ASP MVC entity framework app for the boarding tool.</li>
                            <li>Created a stepped-form version of the boarding tool in ASP MVC for field sales reps.</li>
                            <li>Developed a web service endpoint for 3rd party minimal client boarding requirements.</li>
                            <li>Implemented SSRS, converting 14 Crystal reports to SSRS, reducing query time by up to 90%.</li>
                            <li>Developed classes and SQL procedures for creating over 30 complex composite templates for DocuSign forms, automating signing workflows.</li>
                        </ul>

                        <h4>Bridgeworks, LLC.</h4>
                        <div><strong>2012-2014</strong></div>
                        <h5>Software Engineer - Contract</h5>
                        <ul class="mb-3">
                            <li>
                                Developed health service claims bundler for service providers using EdiDev Framework, EDI, VB.Net, MS SQL Server. Converted form CMS-1500 files to ANSI ASC X12N 837P billing files, generated X12 999 acknowledgements, generated X12 835 claim payment advice.
                            </li>
                        </ul>

                        <h4>QuadraMed Affinity Corporation, a subsidiary of Harris RCM</h4>
                        <div><strong>2011-2016</strong></div>
                        <h5>Senior Software Engineer</h5>
                        <ul class="mb-3">
                            <li>Healthcare Software Company</li>
                            <li>Maintained and improved hospital financial applications using PVX, VB, C#, MS-SQL Server, Crystal Reports, HL7 ADT, and ANSI 835/837 EDI.</li>
                            <li>Programmed SQL/XML integrations with 3rd party coder/grouper products (3M, CCE/TruCode, Nuance).</li>
                            <li>Updated programs for ICD-9 to ICD-10 diagnosis codes and CPT procedure codes.</li>
                            <li>Developed Crystal reports for check printing and associated VB, C# applictions.</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h3 class="mb-3">Skills</h3>
                        <h4>Programming Languages/Frameworks:</h4>
                        <ul class="mb-3">
                            <li>C#</li>
                            <li>VB.NET</li>
                            <li>JavaScript</li>
                            <li>Entity Framework</li>
                        </ul>

                        <h4>Web Development</h4>
                        <ul class="mb-3">
                            <li>ASP.NET Core</li>
                            <li>ASP.NET MVC</li>
                            <li>ASP.NET Web Forms</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript/jQuery</li>
                        </ul>

                        <h4>Database, Cloud, Reporting</h4>
                        <ul class="mb-3">
                            <li>Microsoft SQL Server</li>
                            <li>SSRS</li>
                            <li>Crystal Reports</li>
                            <li>Power BI</li>
                            <li>Azure</li>
                        </ul>

                        <h4>Content Management Systems</h4>
                        <ul class="mb-3">
                            <li>SharePoint (Online/On-Premises)</li>
                        </ul>

                        <h4>Microsoft Power Platform</h4>
                        <ul class="mb-3">
                            <li>Power Apps</li>
                            <li>Power Automate</li>
                        </ul>

                        <h4>Integration and Data Processing</h4>
                        <ul class="mb-3">
                            <li>HL7</li>
                            <li>EDI</li>
                            <li>ANSI 835/837</li>
                            <li>DocuSign</li>
                            <li>Web API</li>
                        </ul>

                        <h4>Software Design and Development</h4>
                        <ul class="mb-3">
                            <li>Software Design Principles</li>
                            <li>Data Modeling</li>
                            <li>Power Query</li>
                            <li>DAX</li>
                            <li>Data Flows</li>
                        </ul>

                    </div>
                </div> *@
                <div class="row col-12">
                    <h3 class="mb-3">Certifications</h3>
                    <ul>
                        <li>Microsoft Certified: Power Platform Developer Associate – Microsoft – PL-400 - Sep 2023</li>
                        <li>Microsoft Certified: Power BI Analyst Associate - Microsoft – PL-300 - Aug 2023</li>
                        <li>Microsoft Certified: Power Platform Fundamentals – Microsoft – PL-900 - Jul 2023</li>
                        <li>Microsoft Certified: Azure Data Fundamentals – Microsoft – DP-900 - Jun 2021</li>
                        <li>Microsoft Certified: Azure AI Fundamentals – Microsoft – AI-900 - Mar 2021</li>
                        <li>Microsoft Certified: Azure Fundamentals – Microsoft – AZ-900 - Feb 2021</li>
                        <li>MCSA: Web Applications – Microsoft - Nov 2016</li>
                        <li>MS: Programming in C# - Microsoft - Aug 2016</li>
                    </ul> 
                </div>
            </div>
        </section>
        
        <!-- End About -->

        <hr>

        <!-- Projects -->
        <section id="projects" class="text-center py-3">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <h2 class="fw-bold">Projects</h2>
                    <p class="lead text-muted mb-5">View some of my latest projects</p>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="card h-100 shadow-lg border-0 bg-light">
                            <a asp-area="" asp-controller="BlogPost" asp-action="Index"
                               asp-route-currentFilter=""
                               asp-route-currentTag=""
                               asp-route-searchTag="">
                                <img class="card-img-top" src="images/project1.png" alt="Project 1" />
                                <div class="card-body p-4">
                                    <h5 class="card-title mb-3">MVC Blog</h5>
                                    <div class="mb-2">
                                        <div class="badge bg-primary rounded-pill">C#</div>
                                        <div class="badge bg-primary rounded-pill">ASP.NET Core MVC</div>
                                        <div class="badge bg-primary rounded-pill">Bootstrap</div>
                                        <div class="badge bg-primary rounded-pill">Azure</div>
                                        <div class="badge bg-primary rounded-pill">Azure Boards, Deployment</div>
                                        <div class="badge bg-primary rounded-pill">Github Actions</div>
                                    </div>
                                    <p class="card-text">
                                        This website's blog! This will be an ongoing project where I post my insights and coding experiences.
                                        Intended to demonstrate building an MVC app from start to finish, deployed on my Azure tenant.
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer bg-transparent mb-3">
                                <a class="btn btn-outline-primary btn-sm text-uppercase"
                                   href="https://github.com/GarryWest/MvcBlog"
                                   target="_blank">
                                    <span class="material-symbols-outlined me-1">code</span>
                                    Source Code
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Projects -->

        <hr>

        <!-- Testimonials -->
        <section id="testimonials" class="text-center py-5">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <h2 class="fw-bold">Testimonials</h2>
                    <p class="lead text-muted mb-5">Check what colleagues have said about my work</p>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="text-center fs-4 fst-italic mb-4 px-2">
                            <p>I was Garry's supervisor for over a year and would highly recommend his technical skills as a developer. 
                            He was able to consistently deliver high quality work above what was expected. 
                            I would work with him again in an instant.</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center testimonial">
                            <img class="rounded-circle me-3" src="images/user2.png" alt="User 1">
                        </div>
                        <div class="fw-bold">
                                Taylor Giles
                                <span class="text-primary mx-1">/</span>
                                Product and Technical Leader
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="text-center fs-4 fst-italic mb-4 px-2">
                            <p>I worked with Garry for more than 2 years at NextGen on the Inpatient Financial Solution when I was a QA Analyst. 
                            Garry was always willing to help me understand what happens on the "backend"! He spent many hours with me developing 
                            functionality around a project that needed to be released in record time to meet certain government requirements.</p>
                            
                            <p>Garry has a really good understanding of healthcare medical billing/revenue cycle management and EDI requirements. 
                            He was my most valuable resource when I needed to know how the application behaved - we collaborated on most everything! 
                            His work ethic is beyond reproach and I am truly grateful to have had the opportunity to work with him.</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center testimonial">
                            <img class="rounded-circle me-3" src="images/user1.png" alt="User 2">
                        </div>
                        <div class="fw-bold">
                            Nancy Berlad
                            <span class="text-primary mx-1">/</span>
                            Volunteer for social organizations supporting active duty, retired military, spouses and families.
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto mb-5">
                        <div class="text-center fs-4 fst-italic mb-4 px-2">
                            <p>Garry West was a SharePoint/.Net/SQL Developer at HighPoint Digital for over one year. 
                            I hired him as a SharePoint Developer but later discovered his versatility as a very capable 
                            and professional .Net and SQL Developer along with his SharePoint Developer skills.</p>
                            <p>He was a joy to work with and was consistently looking for ways to improve customer experiences 
                            via the use of technology. Rarely did I hear from him that he was apprehensive about working on 
                            a new project or task. Instead, he was eager to learn, grow and teach other Developers within 
                            the team about his newly learned skill(s).</p>
                            <p>If you are considering hiring Garry, you will be pleased to have a strong, technically astute 
                                Developer within your organization.</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center testimonial">
                            <img class="rounded-circle me-3" src="images/user3.png" alt="User 3">
                        </div>
                        <div class="fw-bold">
                            Bernette Bell-Schmitt
                            <span class="text-primary mx-1">/</span>
                            Product Executive, IBM
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->

        <hr>

        <!-- Contact -->
        <section id="contact" class="text-center py-5">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <h2 class="fw-bold">Contact</h2>
                    <p class="lead text-muted mb-5">
                        Do you need a developer? I would love to hear
                        from you.
                    </p>
                </div>
            </div>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-8 col-xl-7 col-xxl-6 mb-5">
                        <div class="mb-5">
                            <h6 class="text-uppercase mb-2">Address</h6>
                            <p class="lead mb-0">Greater Chicagoland - Valparaiso, IN</p>
                        </div>
                        <div class="mb-5">
                            <h6 class="text-uppercase mb-2">LinkedIn</h6>
                            <a href="https://www.linkedin.com/in/garrywest1" class="lead mb-0">https://www.linkedin.com/in/garrywest1</a>
                        </div>
                        <div class="mb-5">
                            <h6 class="text-uppercase mb-2">Email</h6>
                            <a href="mailto:garrywest@msn.com" type="button" class="btn btn-outline-primary">garrywest@msn.com</a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 mb-5">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact -->
    </main>

@* <script>    
    const map = L.map('map').setView([41.471181, -87.035085], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution:
            '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }).addTo(map);


</script> *@
